body{
    text-align: center;
    background-color: #252525;
}
  
h1{
    font-size: 5rem;
    color: whitesmoke;
    font-family: 'Ysabeau SC';
    text-shadow: 5px 0 #8e8e8e;

}

footer {
    color: whitesmoke;
    font-family: 'Ysabeau SC';
}

.w{
    background-image: url(./images/tom1.png);
}

.a{
    background-image: url(./images/tom2.png);
}

.s{
    background-image: url(./images/tom3.png);
}

.d{
    background-image: url(./images/tom4.png);
}

.j{
    background-image: url(./images/snare.png);
}

.k{
    background-image: url(./images/kick.png);
}

.l{
    background-image: url(./images/crash.png);
}



.set {
    margin: 10% auto;
}



.drum {
    outline: none;
    border: 10px solid #4c4c4c;
    font-size: 4rem;
    font-family: 'Ysabeau SC';
    line-height: 2;
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 4px 0 black;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: #000000;
}
  